/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-column, .right-column {
    flex: 1;
    margin: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
	
	text-align:center;
	
}

/* Styling for form elements */
input[type='text'],
input[type='password'],
textarea {
    width: calc(100% - 22px); /* Adjust width based on padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #5D5C61;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #379683;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}
body {
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5D5C61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #379683;
}

.error {
    color: red;
    margin-top: 10px;
}
